/* Write your CSS code here */
.Home-style {
  height: 300px;
  width: 300px;
}

.heading {
  font-size: 30px;
  color: #551e53;
  font-family: 'Roboto';
}

.Home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
